body{
    background-image: linear-gradient(to top left, #055e82 0%, #70e8f5 100%);    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 55rem;
    height: 35rem;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
}
.score{
    font-size: 5rem;
    font-weight: 300;
    color: #0a0a0a;
    margin-bottom: 50px;
}

.current{
    background-color: #31afe1;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 70%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
    font-size: larger;
    margin-top: 50px;
}
.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn-roll_Dice {
    top: 29rem;
}
.btn-new_game{
    top: 6rem;
}
.btn-hold{
    top: 23.7rem;
}
.player {
    flex: 50%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
}
.current-label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #ddd;
}
.current-score {
    font-size: 3rem;
}
.current {
    background-color: #3697c7;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 75px;
    height: 75px;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
}
.name {
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.dice {
    position: absolute;
    left: 50%;
    top: 10rem;
    transform: translateX(-50%);
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  }